<h1>All Tracks</h1>

<ul>
  <% @tracks.each do |track| %>
    <li>
      <%= link_to track.title, track_path(track) %> 
      
      <%= track.artist.name %> (<%= track.year %>)
    </li>
  <% end %>
</ul>